<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Test Maker Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
  <header>
      <nav>
          <ul>
              <li class="brand">Let's Make a Test</li>
                <li class="right">Start a New Test</li>
                <li class="right">My Tests</li>
          </ul>
      </nav>
  </header>
    <div id="welcome_container" class="well">
        <div>
            <h1>Let's Make a Test</h1>
            <button>My Tests</button>
            <button>Start a New Test</button>
        </div>



    </div>

    <div id="new_test_container" class="well">
        <div>
            New Tests
        </div>

    </div>

    <div id="my_test_container" class="well">
        <div>
            My Tests
        </div>

    </div>

  </body>
</html>
