<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Test Maker Application</title>
    <link rel='stylesheet' href='/css/style.css' />
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
  <header>
      <nav>
          <ul>
              <li data-href="/welcome" id="welcome_trigger" class="brand">Let's Make a Test</li>
                <li class="right"><a id="new_test_trigger" data-href="/new_test">Start a New Test</a></li>
                <li class="right"><a id="my_test_trigger" data-href="/my_test">My Tests</a></li>
          </ul>
      </nav>
  </header>
  <section class="container">
      <div id="welcome_container" class="well">
          <div>
              <h1>Let's Make a Test</h1>
              <button data-href="/my_test" id="my_test_btn">My Tests</button>
              <button data-href="/new_test" id="new_test_btn">Start a New Test</button>
          </div>



      </div>

      <div id="new_test_container" class="well">
          <div>
              <div id="test_name" class="test_name">
                  Enter a Test Name:
                  <p>
                      <input name="test_name" type="text" placeholder="Test Name"/>
                        <button data-href="/create_question" id="create_question_trigger">Create Test</button>
                  </p>
              </div>



          </div>

      </div>

      <div id="my_test_container" class="well">
          <div>
              <h3>My Tests</h3>
              <div id="my_tests">

              </div>
          </div>

      </div>

      <div id="create_question_container" class="well">
          <form name="create_question_form">

          <div class="question_box">
              Enter a Question:
              <p>
                  <input name="question" type="text" placeholder="Question"/>
              </p>
          </div>

          Answers: (Write Answers: Select Correct Answer)
          <div class="answer_box">
              <p>
                  <input name="answers" id="answer_1" type="radio"/>
                  <input name="opt0" type="text" placeholder="Answer 1"/>
              </p>
              <p>
                  <input name="answers" id="answer_2" type="radio"/>
                  <input name="opt1" type="text" placeholder="Answer 2"/>
              </p>
              <p>
                  <input name="answers" id="answer_3" type="radio"/>
                  <input name="opt2" type="text" placeholder="Answer 3"/>
              </p>
              <p>
                  <input name="answers" id="answer_4" type="radio"/>
                  <input name="opt3" type="text" placeholder="Answer 4"/>
              </p>
          </div>
          </form>

          <div class="answer_toolbox">
              <button disabled>Previous</button>
              <button disabled>Next</button>
              <button id="add_question">Add Question</button>
              <button>Finish</button>
          </div>


      </div>

  </section>
    <footer>&copy; Edwin Villanueva</footer>
  <script src="/js/index.js"></script>
  </body>
</html>
